<div class="container">

<p>Puritans wrote extensively about practice of meditation. They saw the meditation as duty. They dive deep into the subject and can teach us this great art of meditation. </p>
<p>As Thomas Menton notices that the practice and knowledge of meditation becomes strangers to christians. It is unaccustomed and unpractised.</p>

<p><blockquote>That the meditation of holy and heavenly things is a work that God requires at the hands of all people. That God that requires you to pray, requires you to meditate as well as pray; there are few Christians believe this Doctrine, That God that requires you to hear Sermons, requires you to meditate on the Sermons you hear.Edmund Calamy </blockquote></p>

<p>MessageFollwer project is designed to help pastors to provide their listeners with spiritual food to meditate, throughout the week. Simply post sermons and messages in a distributed thoughout the week manner. Let small part of the sermon to speak to your listeners, each day, during the week. Choose bullet points from your sermon, that will have just enough content to help listeners to meditate upon it. The goal is not to study but to meditate. To think upon, to chew the cud.</p>
<p>When you sign up as a listener, you get to choose which speaker you sign up for to get daily updates via email. You also get to choose which hour you want to receive emails.</p>

</span></p>
</div>

