<div class="container">

<p>Пуритане достаточно многое написали о практике духовного размышления. Они оценивали размышление как обязанность. Они глубоко погружаются в эту тему и могут нас научить этому великому искусству размышления
</p>
<p>Известный пуритание Томас Мэнтон отмечает, что практика и знание о духовном размышлении становится чужими для христиан.</p>
</div>
