<div class="container">

<p>Пуритане достаточно многое написали о практике духовного размышления. Они оценивали размышление как обязанность. Они глубоко погружаются в эту тему и могут нас научить этому великому искусству размышления
</p>
<p>Известный пуритание Томас Мэнтон отмечает, что практика и знание о духовном размышлении становится чужими для христиан.</p>
<p>Размышление о святом и небесном это работа, которую Бог ожидает всех людей. Бог требующий чтоб вы молились, требует также чтоб вы и размышляли и молились. Среди верующих, только немногие верят это докрине, что Бог требует от вас слушание Проповеди, также и требует чтоб вы размышляли над проповедью которую слушаете. Эдмунд Калами</p>

<p>Проэкт MessageFollower, сделан для того чтоб помочь христианам размышлять над воскресной проповедью, взяв часть проповеди и сделать ее предметом размышления на каждый день.</p>

<p>10 вопросов, которые пуритане советуют нам отвечать и размышлять о любой теме.</p>
<ol>
  <li>Определи то над чем вы размышляете</li>
  <li>Разделите или распределите то над чем вы размышляете</li>
  <li>Обдумайте причину </li>
  <li>Укажите на плод и следствие </li>
  <li>Какие принадлежности, качества или свойства </li>
  <li>Какие противоположности и сравнения того над чем вы  размышляете </li>
  <li>Предоставьте результат вашего размышления к вашим суждениям и чувствам(любовь, желание, надежда, смелость, радость итд)</li>
  <li>Повлияйте на свою душу, путем ограничений и повелений</li>
  <li>Что вы можете сказать своей душе</li>
  <li>Что вы можете сказать Богу</li>
</ol>

<p>Если у вас есть какие либо вопросы или вы хотите поучавствовать в переводе работ пуритан на русский язык, пожалуйста пишите Борису heavenlizedsoul@gmail.com </p>





</div>
