<div class="container">

<p>Puritans wrote extensively about practice of meditation. They saw the meditation as duty. They dive deep into the subject and can teach us this great art of meditation. </p>
<p>As Thomas Menton notices that the practice and knowledge of meditation becomes strangers to christians. It is unaccustomed and unpractised.</p>

<p><blockquote>That the meditation of holy and heavenly things is a work that God requires at the hands of all people. That God that requires you to pray, requires you to meditate as well as pray; there are few Christians believe this Doctrine, That God that requires you to hear Sermons, requires you to meditate on the Sermons you hear.Edmund Calamy </blockquote></p>

<p>MessageFollwer project is designed to help christians to meditate on sundays sermon, taking a portion of a sermon and make it a subject of meditation for each day. </p>
<p> 10 questions, that puritans suggest us we answer and meditate on any subject.
<ol>
  <li>Describe the thing you meditate upon</li>
  <li>Divide and distribute the thing you meditate upon</li>
  <li>Consider causes of the thing you meditate upon</li>
  <li>Consider fruits and effects</li>
  <li>Consider characteristics, qualities and properties</li>
  <li>Consider opposites or comparisons</li>
  <li>Present your results from meditation, to your judgment and affections(love, desire, hope, courage and joy)</li>
  <li>Influence your own soul by way of restraint and command</li>
  <li>What can you say to your own soul?</li>
  <li>What can you say to God?</li>

</ol>
</p>
<p>
For any questions please email Boris at heavenlizedsoul@gmail.com
</p>
</div>

