<div class="container">

<p><span style="font-size:14px;" >Puritans wrote extensively about practice of meditation. They saw the meditation as duty. </p>
<p>As Thomas Menton notices that the practice and knowledge of meditation becomes strangers to christians. It is unaccustomed and unpractised.</p>

<p>I wanted to create MessageFollwer project, to help speakers post their sermons and messages in a distributed thoughout the week manner. Let small part of the sermon to speak to you, each day, during the week. Simply choose bullet points from your sermon, that will have just enough content to help listeners to meditate upon it. The goal is not to study but to meditate. To think upon, to chew the cud.</p>
</span></p>
</div>

