<div class="container">
<div class="col-md-8 col-md-offset-2" >
<h2>Usefull excerpts from puritan writes to help us with meditation on the word of God.</h2>

<p>Thomas Watson in his Treatise on meditation states
The word meditate or muse means to “think upon” or “reflect.”</p>

<p>There is as much difference between a truth remembered, and a truth meditated on.

The memory is like the ark in which the manna was laid up, meditation is like Israel's eating of manna.

1. They differ in their nature. Study is a work of the brain, meditation of the heart; study sets the mind on work, meditation sets the heart on work.


As Thomas Watson wrote, “Study is the finding out of a truth, meditation is the spiritual improvement of a truth; the one searcheth for the vein of gold, the other digs out the gold. Study is like a winter sun that hath little warmth and influence: meditation . . . melts the heart when it is frozen, and makes it drop into tears of love.”30</p>


<p>Every sermon is but a preparation for meditation. James Ussher.

Remember that one hour spent in such meditation is “worth more than a thousand sermons,” Ussher said, “and this is no debasing of the Word, but an honour to it.”78

Psa 19:14  Let the words of my mouth and the meditation of my heart be acceptable in your sight, O LORD, my rock and my redeemer.</p>


<p>The consequences of omitting meditation are serious, Calamy warned. It leads to hardness of heart. Why do the promises and threatenings of God make so little impression on us? It’s because we fail to meditate upon them.

If you continue to neglect meditation, it will dampen or destroy your love for God. It will make it unpleasant to think about God.

Let us heed Watson’s exhortation, “If you have formerly neglected it, bewail your neglect, and now begin to make conscience of it: lock up yourselves with God (at least once a day) by holy meditation. Ascend this hill, and when you are gotten to the top of it, you shall see a fair prospect, Christ and heaven before you.</p>
</div>
</div>
