<h1><strong><span style="lead">Thomas Manton (1620-1677), <br>Works of a Thomas Manton Volume 17, starting from page 263</span></strong></h1>

<p><em><strong>And Isaac went out to meditate in the field at the even-tide. GEN. xxiv. 63. 2.</strong></em></p>

<p>To open his work to you, &nbsp;the original word, which properly signifies to mutter, or such a speaking as is between thoughts and words. So that the meaning is, he went aside privately to discourse of God, and the promises, and of heavenly things. All the comfort he had to drive away the sad and his consolate hours of his pilgrimage was to exercise himself in the study and meditation of God&#39;s word. And it was Isaac s evening comfort to go out and meditate.</p>

<p><strong><span class="label label-info"  >Doctrine.</span></strong></p>

<p>That it is the duty of Christians to sequester and set apart some time and place for solemn meditation, or the exercising their souls in heavenly and holy things.</p>

<p>My purpose is to speak of meditation, a duty unaccustomed and unpractised; both the practice and the knowledge of it are become strangers to us.</p>

<p><strong><span class="label label-info"  >What meditation is?</span></strong></p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><span style="line-height: 1.6em;">Meditation is that duty or exercise of religion whereby the mindis applied to the serious and solemn contemplation of spiritual things,for practical uses and purposes.</span></div>

<p>
There are several types of meditations, Menton says:</p>

<p style="margin-left: 40px"><span class="label label-info"  ><strong>Occasional Meditation</strong>.</span></p><p style="margin-left: 40px">There is that which we call occasional meditation, which is an act by which the soul spiritual sees every object about which it is conversant. A gracious heart is like an alembic, it can distil useful meditations out of all things it meeteth with. Look, as it seeth all things in God, so it seeth God in all things. Our Lord at the well discourseth of the water of life, John xxi. 10. At the supper of the pharisee one discourseth of eating bread in the kingdom of God, Luke xiv. 15.</p>

  <p style="margin-left: 40px"><span class="label label-info"  ><strong>Reflexive meditation</strong> </span></p><p style="margin-left: 40px"> Reflexive meditation by which we wholly fall upon ourselves. This is nothing else but a solemn parley between a &nbsp;man and his own heart : Ps. iv. 4, &nbsp;Commune with your own hearts upon your bed, and be still.</p>
  <p style="margin-left: 40px"><span class="label label-info"  ><strong>Dogmatical meditation</strong></span> </p><p style="margin-left: 40px">is when we exercise ourselves in the doctrines of the word, and consider how truths known &nbsp;may be useful to us. It differeth from study, partly in the object ; <mark>study is conversant about a thing unknown in whole or in part, but meditation is an act of knowledge reiterated, or a return of the mind to that point to which it arrived before ;</mark> it is the inculcation or whetting of a known truth, the pause of reason on something already conceived and known, or a calling to remembrance what we know before. Partly in the end ; <mark>the end of study is information, but the end of meditation is practice, or a work upon the affections.</mark> Josh. i. 8, This book of the law shall not depart out of thy mouth, but thou shalt meditate therein day and night, that thou mayest observe to do according to all that is written therein. <mark>Study is like a winter's sunthat shineth but warmeth not; but meditation is like the blowing up of the fire, where we do not mind the blaze, but the heat.</mark> The fruitof study is to hoard up truth, but the fruit of meditation is to practise&nbsp;<span style="font-size:14px;">it.</p>


<p>More practical and applicative meditation is when we take ourselves aside from worldly distractions, that we may solemnly debate and study how to carry on the holy life with better success and advantage, when we are wise in our sphere : <em>Luke xvi. 8, The children of this world are in their generation wiser than the children of light,</em></p>

<p><strong><span class="label label-info"  >Duty and exercise of religion.</span></strong></p>

<p>That it is a duty and exercise of religion appeareth by the evidence of scripture, where it is commanded, <em>Josh. i. 8, This book of the law shall not depart out of thy mouth, but thou shalt meditate therein day and night. It is made a character of a godly &nbsp;man : Ps. 1:2</em></p>

<p>It is not a duty of an arbitrary concernment. It is not only a moral help that &nbsp;may be observed or omitted, but a necessary duty, without which all graces would languish and wither. <mark>Faith is lean and ready to starve unless it be fed with continual meditation on the promises;</mark> as David says, <em>Ps. cxix. 92, Unless thy law had been my delight, I should then have perished in my affliction. </em>Hope is low, and doth not arise to such a fulness of expectation till by meditation we take a deliberate view of our hopes and privileges : <em>Gen. xiii. 17, Arise, walk through the land, in the length of it, and in the breadth of it, for I will give it unto thee</em>. Our hopes arise according to the largeness ofour thoughts. Certainly hope thriveth best on the mount of meditation. Then for love, the sparkles of affection will not flow out unless we beat upon the will by constant thoughts. Affection is nourished by appre hension, and the more constant and deliberate the thoughts are, the love is always the deeper.<br />
Affections always follow the rate of our thoughts, if they are ponderous and serious. Then for obedience, or keeping the spirits constantly in a religious frame.</p>

<p><span class="label label-info"  >A man that is a stranger to meditation is a stranger to himself.</span></p><p> In acts of review you enjoy yourselves, and you enjoy your selves with far more comfort in these private recesses ; you have most experience of God, and most experience of yourselves.</p>

<p><span class="label label-info"  ><strong>Anwers to exuse from meditation</strong>.</span></p>

<p>It is true there is a great deal of difference among Christians ; some are more serious and consistent, and have a greater command over their thoughts, others are of a more slight, weak spirit, and are less apt for duties of retirement and recollection. But our unfitness is usually moral rather than natural, not so much by temper as by disuse ; &nbsp;Inky water cannot wash the hand white, or a sin exempt &nbsp;me from a duty. Indis position, which is a sin in me, doth not disannul my engagements to God. <mark>A servant's drunkenness doth not excuse him from work.</mark></p>

<p>Disuse and neglect is the cause of it. Those that use it have a greater command over their thoughts. &nbsp;Men count it a great yoke, but custom would make it easy. Every duty is an help to itself, and the more we meditate the more we shall.</p>

<p><span class="label label-info"  ><strong>Word - Meditation - Prayer</strong></span></p>

<p>The rank and place that meditation hath among -the duties. Meditation is a middle sort of duty between the word and prayer, and hath respect to both. The word feedeth meditation, and meditation feedeth prayer ; we must hear that we be not erroneous, and meditate that we be not barren. These duties must always go hand in hand ; meditation must follow hearing and precede prayer.</p>

<p><strong><span class="label label-info"  >To hear and not to meditate is unfruitful. </span></strong></p>

<p><mark>We may hear and hear, but it is like putting a thing into a bag with holes.</mark> Hag. i. 6, &nbsp;He that earneth.wages, earneth wages to put it into a bag with holes ; <mark>Bare hearing begets but transient thoughts, and they leave but a weak impression, which is rather like the glance of a sunbeam upon a wall ; there is a glaring for the present, but a &nbsp;man never discerneth the beauty, the lustre, and the order of the truths delivered till he cometh to meditate upon them ;</mark> then we come clearly to see into the truth, and how it concerneth us, and how it falleth upon our hearts. <em>Ps. cxix. 99, I have more understanding than all my teachers, for thy testimonies are my meditation.</em> The preacher can but deliver general theorems, and draw them down to practical inferences ; by meditation we come to see more clearly and practically than he that preacheth. We see, in outward learning, they thrive best that meditate most ; knowledge floateth, till by deliberate thoughts it be compressed upon the affections.</p>

<p><span class="label label-info" >It is rashness to pray and not to meditate.</span> <p>What we take in by the word we digest by meditation and let out by prayer. These three duties must be so ordered that one may not jostle out the other.</p>

<p><span style="font-size:14px;">It is notable that often in scripture prayer is called by the name of meditation, because it is the product and issue of it ; as Ps. v. 1, Give ear to my words, Lord: consider my meditation.</span></p>

<p><strong><span class="label label-info"  >Necessity and profit of meditati</span></strong></p>

<p><strong>Meditation is the mother and nurse of knowledge and godliness,</strong>
the great instrument in all the offices of grace ; it helpeth on the work of grace upon the understanding, affections, and life, for the understanding of the doctrine of godliress, for the provoking of godly affections, and for the heavenly life.</p>
<p><strong>1. To give us a clearer and more distinct sight </strong>. A man seeth
the meaning, scope, and order of all points of religion, when he cometh
to meditate on them.<p>
<p>The beauty and excellency of religion is not discerned by a transient glance ; when we come to medi tate, and so see what is our beloved above all beloveds, then we admire him. The Christian religion is not to be taken up by chance, but by choice ; not because we know no other, but because we know no better then our affections to it are the more rational, the judgment having had a clearer sight and trial. <p>
<p><strong>That we may the better retain them.</strong> A constant light is a great friend to memory, and sermons meditated on are remembered long after they are delivered.</p>
<p><strong>That they may be always more ready and present with us.</strong> All
sins do arise out of incogitancy or forgetfulness. Heb. 11:5, Luke 24:6. It is true, in a spiritual way, deep thoughts leave the wounds and sorrows of Christ upon the heart, and do crucify us; it is true morally, as well as mystically: I am crucified with Christ, Gal. 2:20. Certainly you find this by experience, that when you know not things, you are not so thoroughly affected with them. Serious meditation hath this advantage, that it doth make the object present, and as it were sensible ; therefore faith, which is a deep acting of the thoughts upon the promises, and upon glory to come, is called the substance of things hoped for, and the evidence of things not seen. Heb. 11:1. It giveth the future blessedness a present subsistence in the soul, and therefore it must needs ravish it. <mark>When the bird often leaveth her nest and is long absent, the eggs grow cold, and do not come to be quickened ; so do our desires grow cold and dull.</mark></span></p>
<p>Chapter 2</p>
<p><span class="label label-info" >Some rules to guide you in this weighty affair of the Christian life.</span></p>
<p>
<strong>1.Whatever you meditate upon must be drawn down to application</strong> : Job 5:27, Lo this, we have searched it, so it is ; hear it, and know thou it for thy good. In meditation our aim and design is to promote the good of our souls. In conference we aim at the good of others, but the end of meditation is to fall directly upon our own souls. <mark>All the while we stay in generals we do but bend the bow ; when we come to application we let fly the arrow, and we hit the mark when we come to return upon our own souls. Now this application must be partly by way of trial, partly by way of charge. Rom 8:31</mark>
<br>
You should charge yourselves to serve God with greater care. <mark>Meditation is as it were the heat of the cause, and after the debate you should give sentence, and issue forth a practical decree,</mark> as David ; now I see It is good for me to draw nigh to God, Ps. Ixxiii. 28.
<br>
<strong>2. Do not pry further than God hath revealed,</strong> your thoughts must
be still bounded by the word. There is no duty that a fanatic brain is more apt to abuse than meditation. When men are once able to raise their thoughts, they soar too high, and being puffed up with their fleshly mind, intrude themselves into things that they have not seen Col 2:18, Ps 131:1, Rom 12:3. To pry into the mysteries of the divine decrees were to
disturb affection, not to raise it ; nice disputes feed curiosity, not religion.
<br>
<strong>3. When you meditate of God you must do it with great care and reverence,</strong> his perfections are matter rather of admiration than inquiry. You must not pry too curiously into his nature, lest you be oppressed by his glory. Ps. civ. 34,<br>
<strong>4. In meditating on common things, keep in mind a spiritual purpose.</strong> God hath endowed man with a faculty to discourse, and employ his mind on earthly objects to spiritual purposes: Eccles 3:11, He hath set the world in their heart.

<br>
<strong>5. Take heed of creating a snare to your souls.</strong> Some sins are
catching, like fire in straw, and we cannot think of them without
infection and temptation.
<br>
<strong>6. Meditate of those things especially which you have most need of.</strong> There is the greatest obligation upon the heart. There you will find most help, and there the benefit will be most sensible. Seasonable thoughts have the greatest influence.
<br>
<strong>7. Whatever you meditate upon, take heed of slightness.</strong> Transient thoughts leave no impression. See that you meditate but of one thing at once. Hoc age, mind the work you are about, is a good rule in meditation as well as prayer, the thoughts should be under a restraint and wise confinement. A skipping mind, that wandereth from one meditation to another, seldom profiteth. Heb 6:4-5.
<br>
<srong>8. Come not off from holy thoughts till you find profit by them,</srong> either sweet tastes and relishes of the love of God, or high affections kindled towards God, or strong resolutions begotten in yourselves.
<br>
<strong>9. Be thankful</strong> to God when he blesseth you in meditation, or else you will find difficulty in the next.
<br>
<strong>10. Do not bridle up the free spirit by the rules of method.</strong> That which God calleth for is religion, not logic. <mark>When Christians confine themselves to such rules and prescriptions, they straiten themselves, and thoughts come from them like water out of a still, not like water out of a fountain.</mark>
<br>
<strong>11. Your success</strong> in the duty is not to be measured by the multitude and subtlety of the thoughts, but the sincerity of them.
<br>
<strong>12. You must begin and end all with prayer.</strong> Duties are subservient one to another. In the beginning you must pray for a blessing on the duty, and in the end commend your souls and resolutions to God.
</p>
<p>Chapter 3 </p>
 <p><span class="label label-info"  >Some lets or hindrances of meditation.</span></p>
 <p>
   <strong>1. There is a spiritual slothfulness.</strong> How shall we do to shake off this spiritual sloth ? I answer:<br>
[1.] You must consider that a lazy spirit is most unfit for Christianity. 1 Cor. 15:58. Religion is a constant exercise.
<br>
[2.] It is better to take pains than to suffer pains, and to be bound with the cords of duty than with the chains of darkness. You will never be more free than when you once make experience of God sservice.
<br>
[3.] There is nothing so hard in God s service but he hath manifested love enough to sweeten it. We begrudge a few thoughts of God, and God had thoughts of us before all worlds : Ps 40:5.
<br>
[4.] There is no difficulty in religion wholly insuperable and too hard for an active and industrious spirit. Those that follow on after God do at length find him to their comfort.
<br>
[5.] A lazy backward heart must be urged forward with the greater importunity.
<br>
<strong>2. Another let and hindrance is love of pleasures. </strong>Men that would pass their time in mirth are unwilling to be so solemn and serious. How shall we do to wean the soul from pleasures ?
<br>
 </p>

 <p><span class="label label-info"  >Some hindrances that are peculiar to the duty of meditation. </span></p>
 <p>I shall name but two barrenness of thoughts and inconstancy. When we go about to meditate, we have no matter whereupon to bestow our time and thoughts, and so Christians are much discouraged. Now to remedy this</p>
 <p><span class="label label-info"  >Barrenness of thoughts. </span></p>
<p>[1.] You must not give way to it, but try and use constant exercise. When we give way to such indispositions, they prove an utter bondage. Voluntary neglects are punished with penal hardness, and evils grow upon us ; as to lie in the dirt will make us more filthy, and by little and little men are hardened through the deceitfulness of sin. All habits are increased by frequent acts, long disuse makes the duty uncouth. Wells which are at first a puddle are the sweeter for
draining. If we are under indisposition, should we not strive to come out of it ? The more we work, the more vigorous and free is the soul for the work of God.</p>
<p>[2.] Get a good stock of sanctified knowledge. Let there be a treasure in your hearts : Mat. 23:52. Prov. 6:21-22.</p>
<p>[3.] When the heart is barren, think of your own sins and corruptions, and the experiences of God to your own souls. Ps 40:12. And if nothing else will come to hand, meditate upon your present unfitness for any holy duty.</p>
<p>[4.] You may season and affect your mind before meditation with some part of God s word. Heading is a good preparative, and when we have taken in food, we may exercise our depastion and digestion upon it.</p>

<p><span class="label label-info" >Inconstancy</span></p>
<p>
A loose -garish spirit, that is apt to skip and wander from thought to thought. There is a madness in man ; his thoughts are light and feathery, tossed to and fro, and like the loose wards in a lock, only kept up whilst we are turning the key. This doth much discourage Christians, that they cannot keep up their affections and command
their thoughts. How shall we help and remedy this ?</p>

<p style="margin-left: 40px">[1.] When you go to meditate, you should exercise a command and restraint upon yourselves. This is expressed in scripture by trussing up the loins of your minds : Luke xii. 30, Let your loins be girded about ; Zeph. ii. 1,</p>
<p style="margin-left: 40px">[2.] Pray and call in the help of God s Holy Spirit : Ps. Ixxxvi. 11, Unite my heart to fear thy name. Lord, make my heart one. He that could stay the sun can stay the fleeting of your thoughts.</p>
<p style="margin-left: 40px">[3.] Dry up these swimming toys and fancies with the flame of heavenly love. Love unites the heart, and where we have a pleasure, there we can stay : Ps. cxix. 97, Oh, how love I thy law ! it is mymeditation all the day.</p>
<p style="margin-left: 40px">[4.] Let the course of your lives be grave and serious. The mind is according to the course of the life. You flatter yourselves when you think you are able to command spiritual thoughts on a sudden, when you have suffered your thoughts to rove and wander : Prov. xvii. 24,</p>

<p style="margin-left: 40px">[5.] Watch against the first diversion ; how plausible soever it be, look upon it as an intruding that breaks the rank. The devil injects good thoughts sometimes that he might divert your other thoughts.</p>
<p style="margin-left: 40px">[6.] When you come to meditate in God s presence, do not bring the world with you ; purge yourselves of all carnal affections. Always consider this, the prevailing lust will engross the thoughts. To a distracted mind no place is a solitude ; the very closet is a market-place. Ezek 33:31.Therefore before meditation we should purge our hearts of worldly affections.</p>
<p>Sermon 5</p>
<p> <span class="label label-info" >When must we meditate ?</span></p>
<p>1. In the general, something should be done every day ; seldom
converse begetteth a strangeness to God, and an unfitness for the duty.
It is a description of God s servant, Ps. i. 2</p>
<p>2. For the particular time of the day when you should meditate,
that is arbitrary.</p>
<p><span class="label label-info" >What time is to be spent in the duty ?:</span></p>
<p>I answer That is left to spiritual discretion. Suck the teat as long
as milk cometh. Duties must not be spun out to an unnecessary length.
You must neither yield to laziness, nor occasion spiritual weariness ;
the devil hath advantage upon you both ways. When you rack and
torture your spirits after they have been spent, it makes the work of
God a bondage ; and therefore come not off till you find profit, and do
not press too hard upon the soul, nor oppress it with an indiscreet zeal.
It is Satan s policy to make you out of love with meditation by spinning
it out to a tediousness and an unnecessary length.</p>

<p><span class="label label-info" >Consideration vs Meditation vs Contemplation</span></p>
<p>That you may understand the case, you must know that the school
men and other writers of devotion usually distinguish between consideration, meditation, and contemplation. <strong>Consideration</strong> is a thinking of truth, and a rolling of it in the understanding and memory.
<strong>Meditation</strong>is an
enforcing of truth upon the soul by discourse or variety of pressing arguments. <strong>Contemplation </strong>is the fruit and perfection of meditation; and this they make a supernatural elevation of the mind, by which it adhereth to God, and pauseth in the sight of God and majesty of God, or the glory of heaven, and transported into a present
joy, the use of reason is for a time suspended, and the soul is cast into a kind of
sleep and quietness of intuition, staring and gazing with ravishing sweetness upon the divine excellences and the glory of our hopes. In short, contemplation is a ravishing sight without discourse, the work of reason not discoursing, but raised and ecstasied into the highest way of apprehension.</p>

<p><span class="label label-info" >Do you think this useful to confine the soul to method in meditation?</span></p>
<p>(1.) It is lawful a-nd necessary to prescribe to ourselves a course and method, partly that we may know our work, and that we may not be to seek both of a subject and how to work upon it ;

(2.) Though we must contrive a method and course, yet there must be a liberty left for things, for all seasons and occasions.
 <p style="margin-left: 40px">-  (1) Working and forcible sermons. It is not good to lose the heat that we have gotten at the word, but to go home and chew the cud. <mark>In the word there is ingestion ; in meditation you turn it into nourishment.</mark></p>
<p style="margin-left: 40px"> - (2) For present impulses, keep yourselves free, that you may not lose the advantage of such impulses.</p></p>

<p><span class="label label-info" >What is the method that we should use?</span></p>

<p>For those that are wholly to begin this duty, it is best first to
meditate about meditation, the nature, use, and excellency of it, and how
they may carry it on with success.</p>

<p><span class="label label-info" >How you must work upon these objects of meditation(page 303)?</span></p>

<p>[1.] There must be pregnant thoughts and apprehensions. Deep consideration begins the work ; you must set your hearts to consider the subject, for when the heart is once set, these thoughts through the blessing of God will come in freely. It is often spoken in scripture of setting our hearts to seek the Lord ; when the heart is set for prayer, God comes in with a great enlargement ; so when the heart is set to consider, you will have serious and solemn thoughts.</p>

<p>[2.] There are serious enforcements and rational inculcations. Things barely propounded do not work.
<mark>Look, as it is in going to sea, those that only mind passage do not stay upon the ocean, and therefore do not fetch up the treasures of the great deep, but those that go to fish cast out the net again and again, so must you ; you must cast in reason upon reason, enforcement upon enforcement, till you bring up treasure, cast on weight upon weight till it weigh down.</mark> Now these rational enforcements are four by arguments, similitudes, comparison, colloquies or soliloquies.</p>

<p style="margin-left: 40px"><strong>(1.)By arguments that are most effective. </strong>Inquire what kind of arguments have most force upon the spirits. The usual arguments you should look after are causes and effects; by the one knowledge is increased, and by the other affections are stirred. Choose such arguments as are evident and strong ; you have them in the word and in sermons, and you should have them in your hearts : Luke 6:45, A good man out of the good treasure of his heart bringeth forth that which is
good, and an evil man out of the evil treasure of his heart bringeth forth that which is evil, for out of the abundance of the heart the mouth speaketh. A good man should be able to bring forth good arguments, that he might bring his heart powerfully to the acknowledgment of the will of God ; for what did God give you faculties, and the use of reason and
discourse.</p>

<p style="margin-left: 40px"><strong>(2.) By similitudes.</strong> The word will furnish you upon every point. Heaven speaketh to us in a dialect of earth. Heavenly mysteries are clothed with a fleshly notion. In the Book of Song of Solomons communion with Christ is set forth by banquets and marriages, and spiritual things are shadowed out by corporal fairness and sweetness. In other places of scripture Christ s kingdom is set forth by an earthly kingdom, the by a glass, the wrath of God by fire. Now apt similitudes have a great force upon the soul for two reasons partly because they help apprehension, and partly because they help discourse. There is as it were a picture for the thoughts to gaze upon. By similitudes we come to understand a spiritual thing that we know not, being represented by sensible things with which they are acquainted ; the thing is twice represented to the soul in reality and in picture, as a double mediumhelpeth the sight, the glass and the air in spectacles.</p>

<p style="margin-left: 40px"><strong>(3.) By comparisons,</strong> wherein other things are like or unlike the things we meditate upon. I urge this because it is a natural help ; it is a rule of nature that contraries being put together do mightily illustrate one another;
as when you compare fairness and deformity, black and white, deformity is more odious, and black is more black. So if I would con template the beauty of virtue and of the spiritual life, I would compare it with the filthiness of
vice, and of the profane life. So when you compare the pleasant path of wisdom with the filthy and dreggy delights
that are in the path of sin, you gain upon the soul. Put earthly things into the scales with heavenly, and see which weigheth heaviest, set heaven against hell, and heaven against the world. Our Saviour teacheth us to meditate by way of comparison : Mat 16:26, For what is a man profited if he shall gain the whole world aiid lose his own soul ? or what shall a man give in exchange for his soul ?</p>

<p style="margin-left: 40px"><strong>(4.) By speeches with God, and speaches with ourselves.</strong> Thoughts are more express and formal, but when turned into words and speeches, it is a sign the affections are stirred. Strong affections must have vent in words ; speech is an help in secret prayer.
- (1st.) In colloquies with God, either by way of complaint: Lord, I am poor, and needy, and worldly. Lord, my heart is naked, and void of grace. Or else by way of request ;
- In speaches with your own souls, and these are either by way of urging the heart or charging it. (1.) By way of urging the heart. As suppose you have been meditating on the glorious salvation that was purchased by Jesus Christ, let this be the close of all, How shall we escape if we neglect so great salvation ? Heb. 2:3. So if you have been meditating on the sinfulness of sin, fall upon your own hearts : Rom. 6:21, What fruit shall we have in those things whereof ye are
now ashamed, for the end of those things is death ?</p>































































