<h1><strong><span style="lead">Thomas Manton (1620-1677), <br>Works of a Thomas Manton Volume 17, page 263</span></strong></h1>

<p><em><span style="font-size:14px;"><strong>And Isaac went out to meditate in the field at the even-tide. GEN. xxiv. 63. 2.</strong></span></em></p>

<p><span style="font-size:14px;">To open his work to you, &nbsp;the original word, which properly signifies to mutter, or such a speaking as is between thoughts and words. So that the meaning is, he went aside privately to discourse of God, and the promises, and of heavenly things. All the comfort he had to drive away the sad and his consolate hours of his pilgrimage was to exercise himself in the study and meditation of God&#39;s word. And it was Isaac s evening comfort to go out and meditate.</span></p>

<p><strong><span class="label label-info" style="font-size:14px;" >Doctrine.</span></strong></p>

<p><span style="font-size:14px;">That it is the duty of Christians to sequester and set apart some time and place for solemn meditation, or the exercising their souls in heavenly and holy things.</span></p>

<p><span style="font-size:14px;">My purpose is to speak of meditation, a duty unaccustomed and unpractised; both the practice and the knowledge of it are become strangers to us.</span></p>

<p><strong><span class="label label-info" style="font-size:14px;" >What meditation is?</span></strong></p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><span style="font-size: 14px; line-height: 1.6em;">Meditation is that duty or exercise of religion whereby the mindis applied to the serious and solemn contemplation of spiritual things,for practical uses and purposes.</span></div>

<p>
<span style="font-size:14px;">There are several types of meditations, Menton says:</span></p>

<p style="margin-left: 40px"><span class="label label-info" style="font-size:14px;" ><strong>Occasional Meditation</strong>.</span></p><p style="margin-left: 40px">There is that which we call occasional meditation, which is an act by which the soul spiritual sees every object about which it is conversant. A gracious heart is like an alembic, it can distil useful meditations out of all things it meeteth with. Look, as it seeth all things in God, so it seeth God in all things. Our Lord at the well discourseth of the water of life, John xxi. 10. At the supper of the pharisee one discourseth of eating bread in the kingdom of God, Luke xiv. 15.</p>

  <p style="margin-left: 40px"><span class="label label-info" style="font-size:14px;" ><strong>Reflexive meditation</strong> </span></p><p style="margin-left: 40px"> Reflexive meditation by which we wholly fall upon ourselves. This is nothing else but a solemn parley between a &nbsp;man and his own heart : Ps. iv. 4, &nbsp;Commune with your own hearts upon your bed, and be still.</p>
  <p style="margin-left: 40px"><span class="label label-info" style="font-size:14px;" ><strong>Dogmatical meditation</strong></span> </p><p style="margin-left: 40px">is when we exercise ourselves in the doctrines of the word, and consider how truths known &nbsp;may be useful to us. It differeth from study, partly in the object ; <mark>study is conversant about a thing unknown in whole or in part, but meditation is an act of knowledge reiterated, or a return of the mind to that point to which it arrived before ;</mark> it is the inculcation or whetting of a known truth, the pause of reason on something already conceived and known, or a calling to remembrance what we know before. Partly in the end ; <mark>the end of study is information, but the end of meditation is practice, or a work upon the affections.</mark> Josh. i. 8, This book of the law shall not depart out of thy mouth, but thou shalt meditate therein day and night, that thou mayest observe to do according to all that is written therein. <mark>Study is like a winter's sunthat shineth but warmeth not; but meditation is like the blowing up of the fire, where we do not mind the blaze, but the heat.</mark> The fruitof study is to hoard up truth, but the fruit of meditation is to practise&nbsp;<span style="font-size:14px;">it.</p>


<p><span style="font-size:14px;">More practical and applicative meditation is when we take ourselves aside from worldly distractions, that we may solemnly debate and study how to carry on the holy life with better success and advantage, when we are wise in our sphere : <em>Luke xvi. 8, The children of this world are in their generation wiser than the children of light,</em></span></p>

<p><strong><span class="label label-info" style="font-size:14px;" >Duty and exercise of religion.</span></strong></p>

<p><span style="font-size:14px;">That it is a duty and exercise of religion appeareth by the evidence of scripture, where it is commanded, <em>Josh. i. 8, This book of the law shall not depart out of thy mouth, but thou shalt meditate therein day and night. It is made a character of a godly &nbsp;man : Ps. 1:2</em></span></p>

<p><span style="font-size:14px;">It is not a duty of an arbitrary concernment. It is not only a moral help that &nbsp;may be observed or omitted, but a necessary duty, without which all graces would languish and wither. <mark>Faith is lean and ready to starve unless it be fed with continual meditation on the promises;</mark> as David says, <em>Ps. cxix. 92, Unless thy law had been my delight, I should then have perished in my affliction. </em>Hope is low, and doth not arise to such a fulness of expectation till by meditation we take a deliberate view of our hopes and privileges : <em>Gen. xiii. 17, Arise, walk through the land, in the length of it, and in the breadth of it, for I will give it unto thee</em>. Our hopes arise according to the largeness ofour thoughts. Certainly hope thriveth best on the mount of meditation. Then for love, the sparkles of affection will not flow out unless we beat upon the will by constant thoughts. Affection is nourished by appre hension, and the more constant and deliberate the thoughts are, the love is always the deeper.<br />
Affections always follow the rate of our thoughts, if they are ponderous and serious. Then for obedience, or keeping the spirits constantly in a religious frame.</span></p>

<p><span class="label label-info" style="font-size:14px;" >A man that is a stranger to meditation is a stranger to himself.</span></p><p> In acts of review you enjoy yourselves, and you enjoy your selves with far more comfort in these private recesses ; you have most experience of God, and most experience of yourselves.</p>

<p><span class="label label-info" style="font-size:14px;" ><strong>Anwers to exuse from meditation</strong>.</span></p>

<p><span style="font-size:14px;">It is true there is a great deal of difference among Christians ; some are more serious and consistent, and have a greater command over their thoughts, others are of a more slight, weak spirit, and are less apt for duties of retirement and recollection. But our unfitness is usually moral rather than natural, not so much by temper as by disuse ; &nbsp;Inky water cannot wash the hand white, or a sin exempt &nbsp;me from a duty. Indis position, which is a sin in me, doth not disannul my engagements to God. <mark>A servant's drunkenness doth not excuse him from work.</mark></span></p>

<p><span style="font-size:14px;">Disuse and neglect is the cause of it. Those that use it have a greater command over their thoughts. &nbsp;Men count it a great yoke, but custom would make it easy. Every duty is an help to itself, and the more we meditate the more we shall.</span></p>

<p><span class="label label-info" style="font-size:14px;" ><strong>Word - Meditation - Prayer</strong></span></p>

<p><span style="font-size:14px;">The rank and place that meditation hath among -the duties. Meditation is a middle sort of duty between the word and prayer, and hath respect to both. The word feedeth meditation, and meditation feedeth prayer ; we must hear that we be not erroneous, and meditate that we be not barren. These duties must always go hand in hand ; meditation must follow hearing and precede prayer.</span></p>

<p><strong><span class="label label-info" style="font-size:14px;" >To hear and not to meditate is unfruitful. </span></strong></p>

<p><span style="font-size: 14px; line-height: 1.6em;"><mark>We may hear and hear, but it is like putting a thing into a bag with holes.</mark> Hag. i. 6, &nbsp;He that earneth.wages, earneth wages to put it into a bag with holes ; <mark>Bare hearing begets but transient thoughts, and they leave but a weak impression, which is rather like the glance of a sunbeam upon a wall ; there is a glaring for the present, but a &nbsp;man never discerneth the beauty, the lustre, and the order of the truths delivered till he cometh to meditate upon them ;</mark> then we come clearly to see into the truth, and how it concerneth us, and how it falleth upon our hearts. <em>Ps. cxix. 99, I have more understanding than all my teachers, for thy testimonies are my meditation.</em> The preacher can but deliver general theorems, and draw them down to practical inferences ; by meditation we come to see more clearly and practically than he that preacheth. We see, in outward learning, they thrive best that meditate most ; knowledge floateth, till by deliberate thoughts it be compressed upon the affections.</span></p>

<p><span class="label label-info" style="font-size:14px;" >It is rashness to pray and not to meditate.</span> <p>What we take in by the word we digest by meditation and let out by prayer. These three duties must be so ordered that one may not jostle out the other.</p>

<p><span style="font-size:14px;">It is notable that often in scripture prayer is called by the name of meditation, because it is the product and issue of it ; as Ps. v. 1, Give ear to my words, Lord: consider my meditation.</span></p>
